<header
  class="lg:flex justify-between items-center sticky top-0 z-50 bg-orange-100 p-4 montserrat-font text-zinc-800"
>
  <div>
    <img src="https://i.ibb.co/qdZ4rmZ/icon.png" alt="Logo" class="w-20 h-8 mix-blend-multiply" />
  </div>
  <ul class="flex lg:space-x-10 space-x-4 items-center">
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
    <li class="bg-orange-400 p-2 text-zinc-100 rounded-lg hover:scale-95 duration-200"><a [routerLink]="['/addblogs']">+ Add blogs</a></li>
  </ul>
</header>

<router-outlet></router-outlet>

<footer class="bg-orange-200 text-center py-4">
  <p class="text-gray-800">© 2024 Your Company. All rights reserved.</p>
</footer>
